/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/10/2015, 01:21:49 PM
    Author     : Emmanuel 
*/
/*Inicio Login Estacionamientos*/
.fondoOscuro{
    -fx-background-color: #263238;
}
.fondoClaro{
    -fx-background-color: #ECF0F1; 
}
.bordes{
    -fx-border-color: #039BE5;/*Bordes para areas de texto o campos*/
}
.fondoImagen{
    -fx-background-image: url("../Imagenes/autoLogin.jpg");
    -fx-background-position: center;
    
}
.labelsLogin{
    -fx-font-face: 'Roboto';
    -fx-font-color: #FAFAFA;
}
.input{
    -fx-background-color: #E0E0E0;
    
}
.botones{
    -fx-background-color: #D32F2F;
    -fx-border-radius: 60;
}
.labelPark{
    -fx-background-color: #D32F2F;
    -fx-alignment: center;
}
.input:hover{
    -fx-border-color: #D32F2F;
}
.input:focused{
    -fx-border-color: #D32F2F;
    -fx-background-color: #ededed;
}
.botones:hover{
    -fx-background-color: #dc5959;
}
/*Fin Login Estacionamientos*/

